<section class="nidet">

  <div class="col s12 m7">
    <h2 class="header">{{name}}</h2>
    <div class="card horizontal">
      <div class="card-image">
        <img width='300' src="{{profilePic}}" alt="Foto del niño">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <h3>Info</h3>
          <h4><p>Bio:</p></h4>
          <p>{{bio}}</p>
          <h5><p>Intereses:</p></h5>
          <p>{{interests}}</p>
          <p>{{sponsors.role}}</p>
          <h5>Apadrinado por: </h5>
          {{!-- tarjetitas fancy --}}
          <ul class="collapsible popout">
            {{#each sponsors}}
            <li>
              <div class="collapsible-header"><i class="material-icons">person</i>{{username}}</div>
              <div class="collapsible-body"><span>{{email}}</span></div>
              <div class="collapsible-body"><span><a href="mailto:{{email}}">Enviar correo</a></span></div>
            </li>
            {{else}}
          </ul>
          <p>Aún no tiene padrinos</p>
          {{/each}}
        </div>
        <div class="card-action">
          <a href="/children/addpost/{{this._id}}">Agregar mensaje</a>
          <a href="/children/sponsors/{{this._id}}" class="btn-floating  waves-effect waves-light red"><i class="material-icons">group_add</i></a>
          <a href="/children/delete/{{this._id}}" class="btn-floating  waves-effect waves-light red"><i class="material-icons">delete_forever</i></a>
        </div>
      </div>
    </div>
  </div>
</section>