<section class="nidet">

  <div class="col s12 m7">
    <h2 class="header">{{name}}</h2>
    <div class="card horizontal">
      <div class="card-image">
        <img class="materialboxed" width='300' src="{{profilePic}}" alt="Foto del niño">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <h4>Información de: {{name}}</h4> 
          <br>
          <h5><p>Biografía:</p></h5>
          <p>{{bio}}</p>
          <h5><p>Intereses:</p></h5>
          <p>{{interests}}</p>
          <p>{{sponsors.role}}</p>
          <h5>Apadrinado por: </h5>
          {{!-- tarjetitas fancy --}}
          <ul class="collapsible popout">
            {{#each sponsors}}
            <li>
              <div class="collapsible-header"><i class="material-icons">person</i>{{username}}</div>
              <div class="collapsible-body"><span>{{email}}</span></div>
              <div class="collapsible-body"><span><a href="mailto:{{email}}">Enviar correo</a></span></div>
            </li>
            {{else}}
          </ul>
          <p>Aún no tiene padrinos</p>
          {{/each}}
        </div>
        <div class="card-action">
          <a href="/children/addpost/{{this._id}}">Agregar mensaje</a>
          <div class="fixed-action-btn">
            <a class="btn-floating btn-large red">
              <i class="large material-icons">reorder</i>
            </a>
            <ul>
              <li><a href="/children/delete/{{this._id}}"   class="btn-floating btn tooltipped waves-effect waves-light red"  data-position="top" data-tooltip="Borrar">         <i class="material-icons">delete_forever</i></a></li>
              <li><a href="/children"                       class="btn-floating btn tooltipped waves-effect waves-light green"data-position="top" data-tooltip="Regresar">        <i class="material-icons">reply</i></a></li>
              <li><a href="/children/sponsors/{{this._id}}" class="btn-floating btn tooltipped waves-effect waves-light blue" data-position="top" data-tooltip="Gestionar padrinos"> <i class="material-icons">group_add</i></a></li>
              <li><a href="/children/gallery/{{this._id}}"  class="btn-floating btn tooltipped waves-effect waves-light blue" data-position="top" data-tooltip="Gallería">        <i class="material-icons">photo_library</i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{{!-- acctionbutton --}}
<script>
  document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.fixed-action-btn');
    var instances = M.FloatingActionButton.init(elems, {
      direction: 'left'
    });
  });
</script>

{{!-- tooltip --}}
<script>
  $(document).ready(function(){
    $('.tooltipped').tooltip();
  });
</script>

{{!-- Zoom --}}
<script>
  $(document).ready(function(){
    $('.materialboxed').materialbox();
  });
</script>