<h3>Info</h3>

<h4>{{name}}</h4>
<img width='300' src="{{profilePic}}" alt="Foto del niño">
<h3><p>Bio:</p></h3>
<p>{{bio}}</p>
<h3><p>Intereses:</p></h3>
<p>{{interests}}</p>

<a href="/children/sponsors/{{this._id}}">Gestionar padrinos</a>
<p>{{sponsors.role}}</p>
<h5>Apadrinado por: </h5>
{{#each sponsors}}
<p>{{username}}</p>
{{else}}
<p>Aún no tiene padrinos</p>
{{/each}}


<br>
<br>


<a href="/children/delete/{{this._id}}">Dar de baja</a>
