<h4 class="center">Galería de {{name}}</h4>

<div id="cont-detail">
  <div class="container">
      <div class="row">
            {{#each pictureGallery}}
              <div class="col m4 s12">
                <div class="card hoverable">
                  <div class="card-image">
                    <img class="materialboxed" src="{{this.photoURL}}">
                  </div>
                  <div class="card-content forCards">
                    <span class="card-title fechas"><u>{{this.createdAt}}</u></span>
                    <h6>{{this.description}}</h6> 
                  </div>
                </div>
              </div>         
            {{else}}
              <h2>Aquí podrás ver fotos de tu ahijado</h2>
            {{/each}}
      </div>
  </div>
</div>
  

{{#if logged}}

<a href="/profile">Regresar a perfil</a>

{{else}} {{#if isAdmin}}
  
  <a href="/children">Regresar a niños</a>

{{/if}}{{/if}}




<script src="https://unpkg.com/moment"></script>
<script>
  let fechas = document.getElementsByClassName('fechas')
  moment.locale('fr')
  for (let i = 0; i < fechas.length; i++) {
    fechas[i].innerText = moment().locale('fr').format('L')
  }
</script>

{{!-- Zoom --}}
<script>
  $(document).ready(function(){
    $('.materialboxed').materialbox();
  });
</script>