<h3>Bienvenido a tu perfil, {{user.username}}</h3>

<h4>Tus ahijados:</h4>

{{#each children as |child|}}
<img width='300'  src="{{child.profilePic}}" alt="">
<p><h2>{{child.name}}</h2></p>
<p>Bio: </p>
<p>{{child.bio}}</p>
<p>Intereses: </p>
<p>{{child.interests}}</p>
<a href="/profile/gallery/{{child._id}}">Visitar galería</a>
<br> <br>
{{else}}
 <h2>Aún no tienes ahijados registrados a tu nombre.</h2>
{{/each}}